
 :host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #538fe9, #4a91ed, #4094f1, #3296f4, #1d99f8);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .p-card-title{
  text-align: center;
}


.card {
  background: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(155, 176, 231, 0.452);
  width: 480px;
  text-align: center;
}


.card h2 {
  color: #1a237e;
  margin-bottom: 1rem;
  font-weight: 600;
}

.description {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.actions {
  display: flex;
  justify-content: center;
}

::ng-deep .p-button {
  border-radius: 10px;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem;
  font-weight: 500;
}



.card-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.custom-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3496F4;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0em;
}